.movie {
  color: var(--font-color);
  font-family: 'Oswald', sans-serif;
  position: relative;
  vertical-align: top;
  line-height: 20px;
  width: 400px;
  height: 200px;
  background-color: var(--card-bg);
  border: 3px solid gray;
  border-radius: 30px;
  margin: 5px;
  overflow-y: hidden;
  padding: 12px 20px 10px 20px;
}
.movie p {
  width: 80%;
  margin: 4px auto;
}
#title {
  color: #d0d0d0;
  font-family: 'Vesper Libre', serif;;
  display: block;
  margin: 0;
  text-align: center;
}
.movie-styling {
  display: flex;
  height: 175px;
}

#image {
  border-radius: 15px;
  display: inline-flex;
  height: 100%;
}
.movie-info-container {
  overflow-y: auto;
  height: 100%;
}
.favorites {
  background-color: var(--card-bg);
  position: absolute;
  top: 10px;
  right: 25px;
  width: 50px;
  height: 30px;
  font-size: 3em;
  border-radius: 50%;
  border: none;
  color: var(--fave-color);
}

#favs {
  color: green;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
}

